<mat-toolbar color="primary">
  <h1>
    <a routerLink="/">LanManagement</a>
  </h1>
  <span class="menu-spacer"></span>
  <div>
    <a mat-button [routerLink]="'/firewall'"> RULES </a>
    <a mat-button [routerLink]="['/firewall/new']"> NEW RULE </a>
    <a mat-button [routerLink]="['/vlan', '10']"> VLAN10 </a>
    <a mat-button [routerLink]="['/vlan', '11']"> VLAN11 </a>
    <a mat-button [routerLink]="['/vlan', '13']"> VLAN13 </a>
    <a mat-button [routerLink]="['/bind']"> NEW BIND </a>
    
  </div>

</mat-toolbar>

<router-outlet></router-outlet>