<div class="example-container">
    <div class="form-container">
      <h1>BIND NEW MAC AND IP</h1>
      <form [formGroup]="newBindForm" (submit)="submit()">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> VLAN(Number Only)
          </mat-label>
          <input matInput formControlName="vlan" required>
          <mat-error *ngIf="newBindForm.controls.vlan.touched && newBindForm.controls.vlan.invalid">
            <span *ngIf="newBindForm.controls.vlan.errors?.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label> MAC Address
          </mat-label>
          <input matInput formControlName="mac_address" required>
          <mat-error *ngIf="newBindForm.controls.mac_address.touched && newBindForm.controls.ip_address.invalid">
            <span *ngIf="newBindForm.controls.mac_address.errors?.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label> IP Address
            </mat-label>
            <input matInput formControlName="ip_address" required>
            <mat-error *ngIf="newBindForm.controls.ip_address.touched && newBindForm.controls.ip_address.invalid">
              <span *ngIf="newBindForm.controls.ip_address.errors?.required">This field is mandatory.</span>
              <span *ngIf="newBindForm.controls.ip_address.errors?.pattern">This field is invalid.</span>
            </mat-error>
          </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Bind</button>
      </form>
    </div>
  </div>