<mat-card>
  <mat-card-title *ngIf="isAddMode">Create new Bind</mat-card-title>
  <mat-card-title *ngIf="!isAddMode">Edit Bind</mat-card-title>
  <mat-card-content>
    <form [formGroup] ="addEditForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field>
          <input type="text" matInput formControlName="vlan_id" placeholder="Vlan Num" name="vlan_num" required>
          <mat-error *ngIf="f.vlan_id.touched && f.vlan_id.invalid">
            <span *ngIf="f.vlan_id.errors?.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type = "text" matInput formControlName="mac_address" placeholder="Mac Address" name="mac_address" required>
          <mat-error *ngIf="f.mac_address.touched && f.ip_address.invalid">
            <span *ngIf="f.mac_address.errors?.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="text" matInput formControlName="ip_address" placeholder="IP" name="ip" required>
          <mat-error *ngIf="f.ip_address.touched && f.ip_address.invalid">
            <span *ngIf="f.ip_address.errors?.required">This field is mandatory.</span>
            <span *ngIf="f.ip_address.errors?.pattern">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="text" matInput formControlName="network_mask" placeholder="MASK" name="network_mask" required>
          <mat-error *ngIf="f.network_mask.touched && f.network_mask.invalid">
            <span *ngIf="f.network_mask.errors?.required">This field is mandatory.</span>
            <span *ngIf="f.network_mask.errors?.pattern">This field is invalid.</span>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <button mat-flat-button type="submit" [disabled]="loading">
            <span>Save</span>
        </button>
        <a mat-flat-button routerLink="/vlan">Cancel</a>
      </p>
    </form>
  </mat-card-content>
</mat-card>
